.app-faq::ng-deep

  margin: 36px 0

  font-size: 14px
  line-height: 24px
  letter-spacing: 0.09px
  color: rgba(0, 0, 0, 0.87)

  h1
    margin: 36px 0 80px 0
    text-align: center
    font-weight: 700

  h2
    margin: 24px 0
