@import "../../variables"

mat-toolbar
  &.header-toolbar
    background-color: $primary-lighter

    app-icon-button
      color: $light-background-font-color

    a.logo-link, a.logo-link:visited
      color: $light-background-font-color
      font-weight: 500
      text-decoration: none

    .logo
      width: 187px
      height: 26px
      object-fit: contain

    .menu-nav-bar
      display: none

      a
        padding-bottom: 2px
        color: $light-background-font-color
        text-decoration: none
        font-size: 14px

      .active-route
        border-bottom: 2px solid $accent

      .menu-nav-bar-link
        margin: 0 10px


    @media #{$breakpoint-gt-large-4}
      .menu-nav-bar
        display: flex

      .menu-button
        display: none
