<header>
  <mat-toolbar class="header-toolbar">
    <a class="logo-link" routerLink="/">
      <img src="assets/logo-inverse.svg"
           class="logo">
    </a>
    <span class="spacer"></span>
    <nav class="menu-nav-bar">
      <a class="menu-nav-bar-link" routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }">Rozcestník</a>
      <a class="menu-nav-bar-link" routerLink="/about" routerLinkActive="active-route">O projektu</a>
      <a class="menu-nav-bar-link" routerLink="/faq" routerLinkActive="active-route">Často kladené otázky</a>
      <app-icon-button class="menu-nav-bar-link" matIcon="add" color="accent" (click)="insertSource()">Přidejte odkaz</app-icon-button>
    </nav>
    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">
        Rozcestník
      </button>
      <button mat-menu-item routerLink="/about">
        O projektu
      </button>
      <button mat-menu-item routerLink="/faq">
        Často kladené otázky
      </button>
      <button mat-menu-item (click)="insertSource()">
        Přidat zdroj
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
