@import "../../variables"
@import "../../styles"
footer
  .about
    padding: 16px
    @include flex-column
    align-items: center

    color: $light-background-font-color
    background-color: $primary-light

    font-weight: 400

    a
      color: $light-background-font-color

    h2
      font-size: 16px
      font-weight: 600

    h3
      font-weight: 600

    .footer-sections

      @media #{$breakpoint-gt-large-3}
        @include flex-row
        max-width: 60vw

      .about-project
        @media #{$breakpoint-gt-large-3}
          flex: 1
          padding-right: 24px

      .contacts
        @media #{$breakpoint-gt-large-3}
          padding-left: 24px
          align-self: flex-start

  .footer-toolbar
    display: flex
    box-sizing: border-box
    padding: 16px
    flex-direction: column
    align-items: center
    white-space: nowrap
    flex-wrap: wrap

    width: 100%

    color: $dark-background-font-color
    background-color: $primary

    text-align: center

    @media #{$breakpoint-gt-large-1}
      height: 64px

      flex-direction: row

    .active-route
      box-shadow: 0 2px 0 0 $accent

    a, a:visited
      color: $dark-background-font-color
      text-decoration: none
      font-size: 14px
      margin: 4px 20px
      font-weight: 400
      line-height: 32px

      @media #{$breakpoint-gt-large-1}
        margin: 0 20px

    .spacer
      flex: 1 1 auto

