<footer>
  <div class="about">
    <div class="footer-content">
      <h2>Podržíme.se moderují lidé ze skupiny COVID19CZ</h2>
      <div class="footer-sections">
        <div class="about-project">
          <h3>Kdo jsme?</h3>
          <p>
            Jsme skupina dobrovolníků, profesionálů z firem i veřejného sektoru. Tým <a
              [href]="COVID_LINK">COVID19CZ</a> stojí třeba za zřízením
            <a [href]="LINE_LINK">linky 1212</a> nebo třeba <a [href]="LUNG_VENTILATORS_LINK">výrobou levných plicních
              ventilátorů</a>.
          </p>
          <p>
            Tento rozcestník pro vás tvoříme a aktualizujeme tak, abyste našli všechny užitečné projekty a zdroje
            informací k novému koronaviru na jednom místě. Věříme, že když se podržíme vzájemně, dokážeme všichni napřít
            síly mnohem efektivněji.
          </p>
        </div>
        <div class="contacts">
          <h3>Kontakty</h3>
          <div>Informace: <a [href]="'mailto:' + INFO_MAIL">{{ INFO_MAIL }}</a> </div>
          <div>Spolupráce: <a [href]="'mailto:' + PARTNERSHIP_MAIL">{{ PARTNERSHIP_MAIL }}</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-toolbar">
    <span class="spacer"></span>
    <a routerLink="/" class="link" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }">Rozcestník</a>
    <a routerLink="/about" class="link" routerLinkActive="active-route">O projektu</a>
    <a routerLink="/faq" class="link" routerLinkActive="active-route">Často kladené otázky</a>
    <a href="https://www.covid19cz.cz/" target="_blank" class="link">Covid19cz.cz</a>
    <span class="spacer"></span>
  </div>
</footer>
