<div class="container">
  <h1>Narazili jste na problém?</h1>
  <h1>Díky, že nám o něm dáváte vědět!</h1>
  <h3>Oznamujete problém s následujícím zdrojem:</h3>
  <p class="source-title">{{ data.source.title }}</p>
  <h3>Na jaký problém jste narazili?</h3>
  <form [formGroup]="reasonForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-radio-group aria-label="Select an option" class="radio-group" required="true" formControlName="reason">
        <mat-radio-button class="example-radio-button" *ngFor="let reason of reasons" [value]="reason">
          {{ reason }}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="reasonControl.invalid && (reasonControl.dirty || reasonControl.touched)">
        <mat-error *ngIf="reasonForm.get('reason').errors.required">Výběr důvodu je povinný.</mat-error>
      </div>
    </div>
    <mat-form-field appearance="outline" class="text-area">
      <mat-label>Pokud chcete, napište nám o problému víc (nepovinné):</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button class="submit-button">Odeslat</button>
    <button (click)="closeModal()" mat-button>Zrušit bez odeslání</button>
  </form>
</div>
