.radio-group
  display: flex
  flex-direction: column
form
  display: flex
  flex-direction: column
.text-area
  margin: 10px 0 10px 0
.source-title
  font-weight: 800
.reason-label
  margin: 10px 0 10px 0