<div class="main-view-container">
  <markdown [data]="content"> </markdown>
  <div class="add-container">
    <app-icon-button class="menu-nav-bar-link" matIcon="add" color="accent" (click)="insertSource()"
      >Přidejte odkaz</app-icon-button
    >
  </div>
</div>
