h1
  text-align: center
  margin: 40px 0 140px 0
  font-size: 36px
h2
  text-align: center
  margin: 40px 0 25px 0
.group
  display: flex
  flex-direction: row
  margin: 30px 0 30px 0
  justify-content: space-between
  @media (max-width: 768px)
    flex-direction: column
.item
  flex-direction: column
  margin: 0 10px 0 10px
  p
    text-align: justify
  h2
    text-align: left
    min-height: 70px
    margin: 0 0 0 0
.info-add
    font-weight: 800
mat-icon
  width: 54px
  height: 54px
  margin: 0 0 15px 0
.add-container
    display: flex
    align-items: center
    flex-direction: column
    margin: 50px 0px 50px 0px
    @media (min-width: 768px)
      margin: 50px 150px 50px 150px
markdown ::ng-deep
  color: #2d3748
markdown ::ng-deep h2
  font-weight: 800
  text-align: center
  margin: 40px 0 25px 0
markdown ::ng-deep h1
  text-align: center
  margin: 40px 0 40px 0
  font-size: 36px
.contributors
    margin: 0 0 50px 0

