<div class="container">
  <h1 mat-dialog-title>Přidejte nový odkaz nebo projekt</h1>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-row">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Název odkazu</mat-label>
          <input id="sourceTitle" matInput maxlength="100" formControlName="name" />
          <mat-hint align="end">{{ nameControl.value.length }} / {{ maxLength.name }}</mat-hint>
        </mat-form-field>
        <app-input-error
          validator="required"
          [formCtrlName]="nameControl"
          errorMessage="Název odkazu je povinný."
        ></app-input-error>
      </div>
      <div class="input-row">
        <mat-form-field appearance="outline" class="text-area example-full-width">
          <mat-label>Popis odkazu</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            formControlName="description"
          ></textarea>
          <mat-hint align="end">{{ descriptionControl.value.length }} / {{ maxLength.description }}</mat-hint>
        </mat-form-field>
        <app-input-error
          validator="required"
          [formCtrlName]="descriptionControl"
          errorMessage="Popis odkazu je povinný."
        ></app-input-error>
      </div>
      <div class="input-row">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Adresa odkazu</mat-label>
          <input matInput maxlength="200" formControlName="link" />
          <mat-hint align="begin">Adresu zadávejte včetně http://</mat-hint>
        </mat-form-field>
        <app-input-error
          validator="required"
          [formCtrlName]="linkControl"
          errorMessage="Adresa odkazu je povinná."
        ></app-input-error>
      </div>
      <h4>Platnost odkazu</h4>
      <div class="date-picker-container">
        <div>
          <mat-form-field appearance="outline" class="date-picker-from">
            <mat-label>Platné od</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="validFrom" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="date-picker-to">
            <mat-label>Platné do</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="validTo" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-slide-toggle [(ngModel)]="checkedTags">
      Chci přidat štítky
    </mat-slide-toggle>
    <div *ngIf="checkedTags">
      <div mat-subheader class="bold">Kdo jste?</div>
      <div class="items">
        <div *ngFor="let category of roles" class="item">
          <mat-checkbox class="example-margin" [(ngModel)]="category.active">
            {{ category.text }}
          </mat-checkbox>
        </div>
      </div>
      <div mat-subheader class="bold">Co vás zajímá?</div>
      <div class="items">
        <div class="item" *ngFor="let category of interest">
          <mat-checkbox class="example-margin" [(ngModel)]="category.active">
            {{ category.text }}
          </mat-checkbox>
        </div>
      </div>

      <div mat-subheader class="bold">Zdroj informací</div>
      <div class="items">
        <div class="item" *ngFor="let category of source">
          <mat-checkbox class="example-margin" [(ngModel)]="category.active">
            {{ category.text }}
          </mat-checkbox>
        </div>
      </div>
      <mat-slide-toggle [(ngModel)]="checkedLocationTags" class="location-toggle">
        Chci přidat dosah
      </mat-slide-toggle>
      <div *ngIf="checkedLocationTags">
        <div mat-subheader class="bold">Dosah</div>
        <div class="items">
          <div class="item" *ngFor="let category of location">
            <mat-checkbox class="example-margin" [(ngModel)]="category.active">
              {{ category.text }}
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div class="buttons">
      <app-icon-button class="menu-nav-bar-link" color="accent" (click)="onSubmit()">Přidat odkaz</app-icon-button>
      <button (click)="closeModal()" mat-button class="close-button">
        <i class="fas fa-times"></i><span>Zavřít bez uložení</span>
      </button>
    </div>
  </mat-dialog-actions>
</div>
