.example-form
  min-width: 150px
  max-width: 500px
  width: 100%

.example-full-width
  width: 100%
.input-row
    margin-top: 20px
.date-picker-container
  display: flex
  flex-wrap: wrap
  flex-direction: column
.date-picker-from
  flex-grow: 1
//   margin-right:10px
@media (min-width: 582px)
  .date-picker-container
    flex-direction: row
  .date-picker-to
    margin-left: 10px
.buttons
  margin-top: 1rem
  display: flex
  flex-direction: column
  align-items: center
.location-toggle
  margin: 20px 0 10px 0
h4
    margin: 1rem 0 0 0
.bold
  font-weight: bold
.items
  display: flex
  flex-wrap: wrap
  margin-left: -10px
  margin-top: -10px

.close-button
  font-weight: 700
  color: rgb(104, 150, 38)
  display: flex
  justify-content: center
  align-items: center
  i
    margin-right: 7px
    
.items .item
    flex: 1 0 200px
    box-sizing: border-box
    padding: 0px
    margin-left: 10px
    margin-top: 10px
    width: 50px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis


@media (min-width: 410px)
    .items .item
      max-width: calc(50% - 10px)
    

@media (min-width: 620px)
    .items .item
      max-width: calc(33.33333% - 10px)
    

@media (min-width: 830px)
    .items .item
      max-width: calc(25% - 10px)
    

@media (min-width: 1040px)
    .items .item
      max-width: calc(20% - 10px)
    

@media (min-width: 1250px)
    .items .item
      max-width: calc(16.66667% - 10px)
    

@media (min-width: 1460px)
    .items .item
      max-width: calc(14.28571% - 10px)
    

@media (min-width: 1670px)
    .items .item
      min-width: calc(12.5% - 10px)
    

