<mat-card class="source-card">
  <div class="source-card-content flex-growable">
    <div class="flex-growable">
      <div class="title">
        <a [href]="source.link" target="_blank">{{ source.title }} <span class="material-icons">launch</span></a>
      </div>
      <div class="subtitle">
        <span class="valid-to" *ngIf="source.validTo">Platné do {{ source.validTo | date: 'd.M.yyyy HH:mm' }}</span>
        <span class="featured" *ngIf="source.featured"
          >Doporučujeme
          <span class="material-icons" matTooltip="Tento zdroj doporučuje redakce Podržíme.se."
            >info_outline</span
          ></span
        >
      </div>
      <div class="description">
        {{ source.description }}
      </div>
      <div class="link">
        <a [href]="source.link" target="_blank"
          ><span class="truncate">{{ source.link }}</span></a
        >
      </div>
    </div>
    <div class="tags">
      <span class="label">Štítky: </span>
      <span class="tag" *ngFor="let tag of tags; let last = last">
        <a href="#" (click)="chooseTag($event, tag)">{{ tag.text }}</a
        ><span *ngIf="!last">, </span>
      </span>
    </div>
  </div>
  <div class="source-card-side-action-bar">
    <div class="votes"><span class="material-icons">favorite_border</span> {{ source.votesAll }}</div>
    <div class="vote-button-container">
      <button mat-flat-button class="vote-button" color="primary" (click)="vote(source._id)">
        <mat-icon>favorite_border</mat-icon> Ohodnotit
      </button>
    </div>
    <div class="spacer">&nbsp;</div>
    <div class="report-button-container">
      <a href="#" class="report-button" (click)="report($event, source)">Oznámit problém</a>
    </div>
  </div>
  <div class="source-card-bottom-action-bar">
    <a href="#" class="report-button" (click)="report($event, source)">Oznámit problém</a>
    <div class="spacer"></div>
    <div class="votes">{{ source.votesAll }}</div>
    <button mat-flat-button class="vote-button" color="primary" (click)="vote(source._id)">
      <mat-icon>favorite_border</mat-icon> Posunout výš
    </button>
  </div>
</mat-card>
