@import "../../styles"
@import "../../variables"

.source-card

  @media #{$breakpoint-gt-large-4}
    @include flex-row

  padding: 0

  border-radius: 6px
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20)

  .spacer
    flex: 1 1 auto

  .source-card-content
    @include flex-column

    padding: 16px

    overflow: hidden

    .title
      font-weight: 700
      font-size: 16px
      letter-spacing: 0.01px
      color: rgba(0, 0, 0, 0.87)

      .material-icons
        font-size: 13px
        line-height: 16px

      a, a:visited
        color: rgba(0, 0, 0, 0.87)
        text-decoration: none

    .subtitle
      font-weight: 400
      font-size: 12px
      letter-spacing: 0.08px
      color: rgba(0, 0, 0, 0.87)

      .featured
        color: rgb(247, 181, 0)

        .material-icons
          font-size: 14px
          vertical-align: text-top


    .description
      margin: 8px 0

      font-weight: 400
      font-size: 14px
      letter-spacing: 0.09px
      line-height: 20px
      color: rgba(0, 0, 0, 0.87)

    .link
      margin: 8px 0
      max-width: 380px

      font-weight: 700
      font-size: 14px
      letter-spacing: 0.09px
      color: rgb(122, 161, 12)

      a, a:visited
        color: rgb(122, 161, 12)

      .material-icons
        font-size: 14px

    .tags
      font-weight: 400
      font-size: 12px
      letter-spacing: 0.08px
      color: rgb(162, 162, 162)
      .tag
        a, a:visited
          color: rgb(162, 162, 162)

  .source-card-side-action-bar, .source-card-bottom-action-bar

    a.report-button, a.report-button:visited
      color: rgb(152, 152, 152)

    .report-button
      height: 15px
      min-height: 15px
      line-height: 15px

      font-weight: 400
      font-size: 12px
      letter-spacing: 0.08px

    .vote-button
      font-weight: 700
      font-size: 9px
      letter-spacing: 0.06px
      color: rgba(255, 255, 255, 0.87)

      text-transform: uppercase

      .mat-icon
        // todo font size is different from the design
        font-size: 12px
        vertical-align: text-top
        width: 12px
        height: 12px

  .source-card-side-action-bar

    display: none

    border-top-right-radius: 6px
    border-bottom-right-radius: 6px

    @media #{$breakpoint-gt-large-4}
      @include flex-column

    min-width: 100px
    width: 100px

    padding: 16px

    border-left: 1px solid rgba(0, 0, 0, 0.15)

    background-color: rgb(247, 247, 247)

    .vote-button-container, .report-button-container
      text-align: center

    .vote-button-container
      margin: 6px 0

      .vote-button
        border-radius: 9px
        padding: 0 12px

        height: 18px
        min-height: 18px
        line-height: 18px

    .votes
      font-weight: 700
      font-size: 36px
      line-height: 36px
      letter-spacing: 0.23px
      color: rgb(104, 150, 38)

      text-align: center

  .source-card-bottom-action-bar
    @include flex-row
    align-items: center

    border-bottom-right-radius: 6px
    border-bottom-left-radius: 6px

    @media #{$breakpoint-gt-large-4}
      display: none

    height: 55px
    line-height: 55px

    padding: 0 16px

    border-top: 1px solid rgba(0, 0, 0, 0.15)
    background-color: rgb(247, 247, 247)

    .votes
      margin-right: 12px

      font-weight: 700
      font-size: 24px
      letter-spacing: 0.15px
      color: rgb(122, 161, 12)

    .vote-button
      border-radius: 25px
      padding: 0 12px

      height: 25px
      min-height: 25px
      line-height: 25px
