@import "../../variables"

.statistics-widget
  display: flex
  flex-direction: column
  justify-content: space-evenly
  align-items: center
  box-shadow: none
  background-color: inherit

  i
    display: none

  .center-items
    margin: 4px 0

  @media #{$breakpoint-gt-large-4}
    flex-direction: row

    i
      display: inline

    .title
      font-weight: 500
      font-size: 18px

    .stat-value
      font-weight: 500
      font-size: 18px

    .stat-sub
      font-weight: 300
      font-size: 14px

    .center-items
      margin: unset

.center-items
    text-align: center

.flex-row
  flex-direction: column

.loading
    background: rgba(46, 49, 49, .99)
