<div>
  <div class="statistics-widget" [class.loading]="loading">
    <div class="title">Aktuální statistiky COVID-19</div>
    <div class="center-items tested">
      <div class="stat-value">{{ statistics.totalTested.toLocaleString() }}</div>
      <div class="stat-sub">testovaných</div>
    </div>
    <i class="fas fa-long-arrow-alt-right fa-2x"></i>
    <div class="center-items cases">
      <div class="stat-value">{{ statistics.infected.toLocaleString() }}</div>
      <div class="stat-sub">nakažených</div>
    </div>
    <i class="fas fa-long-arrow-alt-right fa-2x"></i>
    <div class="center-items recoveries">
      <div class="stat-value">{{ statistics.recovered.toLocaleString() }}</div>
      <div class="stat-sub">vyléčených</div>
    </div>
    <div></div>
  </div>
</div>