<div class="categories">
  <div class="categories-title">
    Vyberte, co vás zajímá
  </div>
  <!-- category: interests  -->
  <div class="category-type-title">Co vás zajímá?</div>
  <div class="category" *ngFor="let category of interest$ | async | collapseItems:maxCategorySize:expandedCategories.interest">
    <mat-checkbox class="category-checkbox"
                  [ngModel]="category.active"
                  (change)="handleCategoryClick(category._id)"
                  color="primary">
      {{ category.text }}
    </mat-checkbox>
  </div>
  <div *ngIf="!expandedCategories.interest && (interest$ | async | countItems) > maxCategorySize">
    <button class="more-categories-button" mat-button (click)="expand(interest$)">
      Všech {{ (interest$ | async | countItems) }} témat
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <!-- category: roles  -->
  <div class="category-type-title">Kdo jste?</div>
  <div class="category" *ngFor="let category of roles$ | async | collapseItems:maxCategorySize:expandedCategories.role">
    <mat-checkbox class="category-checkbox"
                  [ngModel]="category.active"
                  (change)="handleCategoryClick(category._id)"
                  color="primary">
      {{ category.text }}
    </mat-checkbox>
  </div>
  <div *ngIf="!expandedCategories.role && (roles$ | async | countItems) > maxCategorySize">
    <button class="more-categories-button" mat-button (click)="expand(roles$)">
      Všech {{ (roles$ | async | countItems) }} rolí
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <!-- category: sources  -->
  <div class="category-type-title">Zdroj informací</div>
  <div class="category" *ngFor="let category of source$ | async | collapseItems:maxCategorySize:expandedCategories.source">
    <mat-checkbox class="category-checkbox"
                  [ngModel]="category.active"
                  (change)="handleCategoryClick(category._id)"
                  color="primary">
      {{ category.text }}
    </mat-checkbox>
  </div>
  <div *ngIf="!expandedCategories.source && (source$ | async | countItems) > maxCategorySize">
    <button class="more-categories-button" mat-button (click)="expand(source$)">
      Všech {{ (source$ | async | countItems) }} zdrojů
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <!-- category: location -->
  <div class="category-type-title">Dosah</div>
  <div class="category" *ngFor="let category of location$ | async | collapseItems:maxCategorySize:expandedCategories.location">
    <mat-radio-button class="category-checkbox"
                      [name]="category.type"
                      [checked]="category.active"
                      (change)="changeLocation(category)"
                      color="primary">
      {{ category.text }}
    </mat-radio-button>
  </div>
  <div *ngIf="!expandedCategories.location && (location$ | async | countItems) > maxCategorySize">
    <button class="more-categories-button" mat-button (click)="expand(location$)">
      Všechny regiony
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="categories-action-container">
    <div>
      <button class="categories-action-button open-dialog-button" mat-flat-button (click)="openDialog()"
              color="primary">
        Všechny štítky
      </button>
    </div>
    <div *ngIf="(count$ | async) > 0">
      <button class="categories-action-button reset-categories-button" mat-button (click)="resetCategories()"
              color="primary">
        <mat-icon>clear</mat-icon>
        Zrušit výběr
      </button>
    </div>
  </div>
  <div class="add-source-container">
    <div class="title">Chybí vám nějaký odkaz?</div>
    <div class="description">
      Přidejte odkaz, který nám tu ještě chybí. Pomůžete také ostatním!
    </div>
    <div class="button-container">
      <app-icon-button class="insert-source-button"
                       matIcon="add"
                       color="accent"
                       (click)="insertSource()">
        Přidejte odkaz
      </app-icon-button>
    </div>
  </div>
</div>
