<div class="record-list" *ngIf="!loading" >
  <div *ngIf="hasRecords()">
    <h3 class="record-count-header" *ngIf="sourceCount >= 5">Máme pro vás {{ sourceCount }} výsledků.</h3>
    <h3 class="record-count-header" *ngIf="sourceCount > 1 && sourceCount < 5">Máme pro vás {{ sourceCount }} výsledky.</h3>
    <h3 class="record-count-header" *ngIf="sourceCount === 1">Máme pro vás {{ sourceCount }} výsledek.</h3>
    <app-source-card
      [source]="source"
      [ngClass]="{ 'not-last': !last }"
      *ngFor="let source of sources; let last = last"
    >
    </app-source-card>
    <div class="pagination-container">
      <button mat-button color="primary" *ngIf="showPaginationButton()" (click)="handlePaginationClick()" class="pagination">
        Načíst další odkazy
      </button>
    </div>
  </div>
  <div *ngIf="!hasRecords()">
    <mat-card class="source-card sources-not-found">
      <h2>K tomuto tématu zatím nic nemáme. Hledáme ale dál a snad už brzy něco užitečného objevíme.</h2>
    </mat-card>
  </div>
</div>
