.record-list
  .record-count-header
    height: 24px
    font-size: 14px
    line-height: 1.71
    letter-spacing: 0.09px
    color: rgba(0, 0, 0, 0.87)

app-source-card
  display: block

  &.not-last
    margin-bottom: 16px

h2
  text-align: center

.pagination-container
  display: flex
  justify-content: center

.pagination
  text-transform: uppercase
  font-weight: 600
  margin: 10px 0 20px 0

.sources-not-found
  margin-top: 58px
  box-shadow: none
