@import "../../variables"

.claim-container::ng-deep
  margin: 40px 0
  padding: 0 16px

  @media #{$breakpoint-gt-large-4}
    margin: 64px 0

    h1
      font-size: 36px


  h1
    text-align: center
    font-weight: 700
