<div class="app-container">
  <app-toolbar></app-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  <div class="statistics-widget">
    <div class="widget-content">
      <app-statistics-widget></app-statistics-widget>
    </div>
  </div>
  <app-footer></app-footer>
</div>
