@import "../variables"

.app-container
  margin: auto

  .app-content
    margin: 0 auto
    max-width: $md-small-4
    padding: 0 16px

  .statistics-widget
    padding: 10px 0
    background-color: #ffd83e
    display: flex
    justify-content: center

    .widget-content
      width: 100%

      @media #{$md-breakpoint-gt-small-4}
        width: 60%
