@import "../../styles"
@import "../../variables"

.active-categories

  margin: 15px 0 30px 0

  h1
    font-weight: 600

  .remove-categories-chip
    background-color: $accent !important

  .filter-button-bar
    margin: 24px 0
    min-width: 200px
    text-align: right

    @media #{$breakpoint-gt-large-3}
      display: none
