<div class="active-categories">
  <div class="categories-container" *ngIf="(activeCategories$ | async) as activeCategories">
    <div  class="categories-bar" *ngIf="activeCategories?.length > 0">
      <h1>Zobrazujete zdroje s těmito štítky</h1>
      <mat-chip-list>
        <mat-chip *ngFor="let category of activeCategories" [removable]="true" (removed)="removeCategory(category)">
          {{ category.text }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip class="remove-categories-chip" (click)="removeAllCategories()">Zrušit výběr</mat-chip>
      </mat-chip-list>
    </div>
    <div class="filter-button-bar">
      <button mat-raised-button color="accent" (click)="filterDialog()">
        <mat-icon>search</mat-icon>
        Možnosti vyhledávání
      </button>
    </div>
  </div>
</div>
