.bold
  font-weight: bold
.items
  display: flex
  flex-wrap: wrap

.item
  width: 275px

@import "../../styles"
@import "../../variables"

.categories
  max-width: 1400px
  .categories-title
    line-height: 21px
    font-size: 18px
    font-weight: bold
    letter-spacing: 0.12px
    color: rgba(0, 0, 0, 0.87)
    margin-bottom: 21px

  .category-type-title
    height: 19px
    font-size: 16px
    font-weight: bold
    letter-spacing: 0.1px
    color: $dark-primary-color

    margin-top: 32px
    padding-bottom: 2px

    border-bottom: 0.5px solid $dark-primary-color

  .category

    .category-checkbox

      line-height: 24px
      font-size: 14px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      letter-spacing: 0.09px
      color: rgba(0, 0, 0, 0.87)
        
  .more-categories-button
    text-transform: uppercase
    font-weight: bold

  .categories-action-container
    margin: 36px 0 60px 0
    text-align: center

    > div
      margin-bottom: 8px

      &:last-child
        margin-bottom: 0

    .categories-action-button
      border-radius: 25px
      text-transform: uppercase

  .add-source-container
    margin-bottom: 60px

    .title
      line-height: 19px
      font-size: 16px
      font-weight: bold
      font-stretch: normal
      font-style: normal
      letter-spacing: 0.1px
      color: $dark-primary-color

    .description
      margin: 8px 9px

      font-size: 14px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.71
      letter-spacing: 0.09px
      color: rgba(0, 0, 0, 0.87)

    .button-container
      text-align: center


    
