<div class="categories">
  <h1 mat-dialog-title>
    <div class="categories-title">
      Vyberte si ze všech možností
    </div>
  </h1>
  <div mat-dialog-content>
    <div mat-subheader class="category-type-title">Kdo jste?</div>
    <div class="items">
      <div *ngFor="let category of roles$ | async" class="item category">
        <mat-checkbox
          class="example-margin category-checkbox"
          [ngModel]="category.active"
          (change)="handleCategoryClick(category._id)"
        >
          {{ category.text }}
        </mat-checkbox>
      </div>
    </div>
    <div mat-subheader class="category-type-title">Co vás zajímá?</div>
    <div class="items">
      <div class="item category" *ngFor="let category of interest$ | async">
        <mat-checkbox
          class="example-margin category-checkbox"
          [ngModel]="category.active"
          (change)="handleCategoryClick(category._id)"
        >
          {{ category.text }}
        </mat-checkbox>
      </div>
    </div>

    <div mat-subheader class="category-type-title">Zdroj informací</div>
    <div class="items">
      <div class="item category" *ngFor="let category of source$ | async">
        <mat-checkbox
          class="example-margin category-checkbox"
          [ngModel]="category.active"
          (change)="handleCategoryClick(category._id)"
        >
          {{ category.text }}
        </mat-checkbox>
      </div>
    </div>

    <div mat-subheader class="category-type-title">Dosah</div>
    <div class="items">
      <div class="item category" *ngFor="let category of location$ | async">
        <mat-radio-button
          class="category-checkbox category-checkbox"
          [name]="category.type"
          [checked]="category.active"
          (change)="changeLocation(category)"
          color="primary"
        >
          {{ category.text }}
        </mat-radio-button>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onNoClick()">Zobrazit výsledky vyhledávání</button>
  </div>
</div>
