@mixin flex-row
  display: flex
  flex-direction: row

@mixin flex-column
  display: flex
  flex-direction: column

.flex-growable
  flex-grow: 1

.flex-start
  align-self: flex-start

body
  margin: 0
  font-family: 'Raleway', sans-serif

mat-toolbar
  .spacer
    flex: 1 1 auto

.truncate
  display: block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
