<button mat-flat-button class="round-button" [color]="color">
    <mat-icon *ngIf="matIcon && iconAlign === 'start'" inline>
      {{ matIcon }}
    </mat-icon>
    <ng-content></ng-content>
    <mat-icon *ngIf="matIcon && iconAlign === 'end'">
      {{ matIcon }}
    </mat-icon>
</button>
