@import "../../variables"

.active-categories

  @media #{$breakpoint-gt-large-3}
    margin-left: 238px

.sources

  @media #{$breakpoint-gt-large-3}
    display: flex
    flex-wrap: wrap

  app-categories
    display: none
    @media #{$breakpoint-gt-large-3}
      display: block
      width: 194px
      min-width: 194px
      margin-right: 47px

  app-record-list
    @media #{$breakpoint-gt-large-3}
      flex: 1
      min-width: 360px

.main-view-container
  disply: flex
