<div class="main-view-container">
  <app-claim></app-claim>
  <div class="active-categories">
    <app-active-categories></app-active-categories>
  </div>
  <div class="sources">
    <app-categories></app-categories>
    <app-record-list></app-record-list>
  </div>
</div>
